# Project exclude paths
/cmake-build-debug/
/Sorting/InsertionSort/cmake-build-debug
/Sorting/SelectionSort/cmake-build-debug
/Sorting/MergeSort/cmake-build-debug
/Sorting/ShellSort/cmake-build-debug
/Sorting/cmake-build-debug
/LinearTable/cmake-build-debug
/LeetCode
/Stack&&Queue/Stack/cmake-build-debug
/Stack&&Queue/cmake-build-debug
/Array/cmake-build-debug
.idea
.clang-format